@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,500&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=900&t=st=1699152722~exp=1699153322~hmac=78536bf47bac6ea7efe4a4fb97cb1bc3c4312c87b4efa62dd0d8ce9e9d6e17a1');
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.heading {
  font-family:  sans-serif;
  
}

.container-home {
  margin-top: 60px;
}

.icon {
  margin-right: 10px;
}
#emss{
  height: 100%;
  width: 100%;
}
.VStack{
  width: 50rem;
}